* {
	margin: 0px; padding: 0px;
}


/*******
* STYLING FOR BANNER
*/

.banner {
	width: 85%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
	background-color: #e4e4e4;
}

.banner .banner-left {
	float: left;
	width: 49%;
}

.banner .banner-left h1 {
	margin-bottom: 20px;
}

.banner .banner-left p {
	margin-bottom: 20px;
	line-height: 1.5em;
	font-size: 1.3em;
	text-align: justify;
}

.banner .banner-left button {
	padding: 10px 20px;
	background: green;
	color: white;
	border: none;
	border-radius: 5px;

}
.banner .banner-right {
	float: right;
	width: 49%;
}

.banner:after {
	content: "";
	display: block;
	clear: both;
}

.navbar {
	height: 50px;
	width: 100%;
	background: #3F8742;
	color: white;
}

.message-div {
	width: 85%;
	margin: 10px auto;
	padding: 15px;
	text-align: center;
	background: #dff0d8;
	color: #3c763d;
	border: 1px solid #3c763d;
	font-size: 1.2em;
	border-radius: 8px;
	position: relative;
}
.message-div span {
	position: absolute;
	right: 15px;
	top: 15px;
}

.banner .banner-right form {
	width: 50%;
	padding: 10px;
	margin: 25px auto;
}

.banner .banner-right form input {
	width: 100%;
	display: block;
	border: none;
	padding: 13px 13px;
	font-size: 1em;
	margin-top: 5px;
	border-radius: 3px;
	box-sizing : border-box;
}
.banner .banner-right form input:focus {
	outline: none;
}
.banner .banner-right form button {
	background: violet;
	border: none;
	padding: 12px 20px;
	margin-top: 8px;
	border-radius: 5px;
	color: white;
}

/******
* STYLING REGISTER PAGE
**************/
.register_form {
	width: 30%;
	padding: 30px;
	margin: 25px auto;
	border-radius: 5px;
	background: #e4e4e4;
}
.register_form h2 {
	text-align: center;	 
	margin-bottom: 10px;
}
.register_form input {
	width: 100%;
	display: block;
	border: none;
	padding: 13px 13px;
	font-size: 1em;
	margin-top: 5px;
	border-radius: 3px;
	box-sizing : border-box;
}
.register_form input:focus {
	outline: none;
}
.register_form button {
	background: violet;
	border: none;
	padding: 12px 20px;
	margin-top: 8px;
	border-radius: 5px;
	color: white;	
}

/******
* STYLING LOGIN PAGE
**************/
.register_form {
	width: 30%;
	padding: 30px;
	margin: 25px auto;
	border-radius: 5px;
	background: #e4e4e4;
}
.register_form h2 {
	text-align: center;	 
	margin-bottom: 10px;
}
.register_form input {
	width: 100%;
	display: block;
	border: none;
	padding: 13px 13px;
	font-size: 1em;
	margin-top: 5px;
	border-radius: 3px;
	box-sizing : border-box;
}
.register_form input:focus {
	outline: none;
}
.register_form button {
	background: violet;
	border: none;
	padding: 12px 20px;
	margin-top: 8px;
	border-radius: 5px;
	color: white;	
}