* {
	margin: 0px; padding: 0px;
}
p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 8px 0px;
	text-align: justify;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.btn {
	padding: 10px 20px;
	background: green;
	color: white;
	border: none;
	border-radius: 5px;
}

/*******
* STYLING FOR BANNER
*/

.banner {
	width: 85%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
	background-color: #e4e4e4;
}

.banner .banner-left {
	float: left;
	width: 49%;
}

.banner .banner-left h1 {
	margin-bottom: 20px;
}

.banner .banner-left p {
	margin-bottom: 20px;
	line-height: 1.5em;
	font-size: 1.3em;
	text-align: justify;
}

.banner .banner-left button {
	background: green;
}
.banner .banner-right {
	float: right;
	width: 49%;
}

.banner:after {
	content: "";
	display: block;
	clear: both;
}

.navbar {
	height: 50px;
	width: 100%;
	background: #3F8742;
	color: white;
}

.message-div {
	width: 85%;
	margin: 10px auto;
	padding: 15px;
	text-align: center;
	background: #dff0d8;
	color: #3c763d;
	border: 1px solid #3c763d;
	font-size: 1.2em;
	border-radius: 8px;
	position: relative;
}
.message-div span {
	position: absolute;
	right: 15px;
	top: 15px;
}


.banner .banner-right form {
	width: 50%;
	padding: 10px;
	margin: 25px auto;
}

.banner .banner-right form input {
	width: 100%;
	display: block;
	border: none;
	padding: 13px 13px;
	font-size: 1em;
	margin-top: 5px;
	border-radius: 3px;
	box-sizing : border-box;
}
.banner .banner-right form input:focus {
	outline: none;
}
.banner .banner-right form button {
	background: violet;
	margin-top: 8px;
	color: white;
}

/******
* STYLING REGISTER PAGE
**************/
.register_form {
	width: 30%;
	padding: 30px;
	margin: 25px auto;
	border-radius: 5px;
	background: #e4e4e4;
}
.register_form h2 {
	text-align: center;	 
	margin-bottom: 10px;
}
.register_form input {
	width: 100%;
	display: block;
	border: none;
	padding: 13px 13px;
	font-size: 1em;
	margin-top: 5px;
	border-radius: 3px;
	box-sizing : border-box;
}
.register_form input:focus {
	outline: none;
}
.register_form button {
	background: violet;
	border: none;
	padding: 12px 20px;
	margin-top: 8px;
	border-radius: 5px;
	color: white;	
}

/******
* STYLING LOGIN PAGE
**************/
.register_form {
	width: 30%;
	padding: 30px;
	margin: 25px auto;
	border-radius: 5px;
	background: #e4e4e4;
}
.register_form h2 {
	text-align: center;	 
	margin-bottom: 10px;
}
.register_form input {
	width: 100%;
	display: block;
	border: none;
	padding: 13px 13px;
	font-size: 1em;
	margin-top: 5px;
	border-radius: 3px;
	box-sizing : border-box;
}
.register_form input:focus {
	outline: none;
}
.register_form button {
	background: violet;
	border: none;
	padding: 12px 20px;
	margin-top: 8px;
	border-radius: 5px;
	color: white;	
}
/******
* STYLING FOR POSTS
**************/
.content {
	width: 85%;
	margin: 20px auto;
	min-height: 200px;
	border: 1px solid #838D84;
	padding: 20px;

}
.posts-wrapper {
	float: left;
	width: 60%;
}
.sidebar {
	float: left;
	width: 32%;
	margin-left: 20px;
	padding: 10px 20px;
}

.categories  {
	margin-top: 50px;
}
.categories h2 {
	padding: 10px;
	border: 1px solid #f1f1f1;
	border-bottom: none;
}
.categories li a {
	display: block;
	padding: 8px 0px 8px 20px;
	border: 1px solid #f1f1f1;
}

.categories li a:hover {
	background: #f1f1f1;
}

.content:after {
	content: "";
	display: block;
	clear: both;
}
.post {
	width:95%;
	padding: 10px;
	min-height: 300px;
	margin: 20px auto;
	border-radius: 5px;
	border: 1px solid #838D84;
}
.post img {
	width: 100%;
}
.post-info {
	margin-top: 10px;
}
.post .post-info .author {
	float: left;
}
.post .post-info .readmore {
	float: right;
}

.post .post-info:after {
	content: "";
	display: block;
	clear: both;
}



/******
* STYLING FOR NAVBAR
**************/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3F8742;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #3F8752;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}